name: Publish revision for updated bounds

on:
  workflow_dispatch:
  pull_request:
    types: [closed]
    branches: ['release/**']

env:
  branch: ${{ github.event_name == 'workflow_dispatch' && github.ref_name || github.base_ref }}

jobs:
  revision:
    name: Publish revision
    if: github.event.pull_request.merged == true || github.event_name == 'workflow_dispatch'
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    - uses: cachix/install-nix-action@v31
      with:
        github_access_token: ${{ secrets.GITHUB_TOKEN }}
    - uses: cachix/cachix-action@v16
      with:
        name: tek
        signingKey: ${{ secrets.CACHIX_SIGNING_KEY }}
    - id: revision
      name: Publish revision
      run: >
        nix run .#revision -- --fetch
        --hackage='hackage.haskell.org:password:${{ secrets.hackage_password }}'
        --branch "$branch"
